#Toggle {
  background: transparent url("/src/moon.png") no-repeat center;
  background-size: 1000px;
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
  margin-left: 1400px;
}

#Toggle:hover,
#Toggle:focus {
  filter: none;
  background-color: black;
  cursor: pointer;
}

#Toggle.clicked {
  filter: none !important;
  background-color: black;
}
